<div class="text-layout p-text-center">

    <h1>Decimal Pipe y porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Module Commom.
    </p>

</div>


<div class="p-grid p-text-center">
    <div class="p-col-12 p-md-12 p-lg-4">
        <p-card header="Ventas netas" subheader="del presente año.">
            <i class="pi pi-euro"></i>
            {{ventasNetas | number: '1.2-2': 'es-CR'}}
        </p-card>
    </div>

    <div class="p-col-12 p-md-12 p-lg-4">
        <p-card header="Ventas brutas" subheader="del ultimo semestre">
            {{ventasNetas + 2000000 | currency : 'EUR'}}
        </p-card>
    </div>

    <div class="p-col-12 p-md-12 p-lg-4">
        <p-card header="Porcentaje de ganancias" subheader="del presente año">
            {{porcentaje | percent: '2.2-2' }}
        </p-card>
    </div>

</div>
