<div class="text-layout p-text-center">

    <h1>Pipes no comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Module Commom.
    </p>

</div>


<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true"  >
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odit nisi consequuntur eius architecto
                dolores eligendi sequi ipsam inventore, sapiente ullam repudiandae cum sit ex culpa pariatur obcaecati
                vero laborum?</p>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true" >
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odit nisi consequuntur eius architecto
                dolores eligendi sequi ipsam inventore, sapiente ullam repudiandae cum sit ex culpa pariatur obcaecati
                vero laborum?</p>
        </p-fieldset>
    </div>
</div>