<div class="text-layout">
    <h1>{{saludo | uppercase}}</h1>
</div>

<button (click)="cambiarNombre()" pButton pRipple type="button" label="Cambiar nombre"
    class="p-button-raised p-button-help" icon="pi pi-pencil" iconPos="right"></button>

<p-card [header]="saludo | titlecase" subheader="Esto es el Subheader">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, nemo ipsa. Quos unde, eaque dicta amet
        consectetur, ratione nesciunt aliquid nam repellendus, ipsum maxime. Ipsam quidem vel corrupti neque fugit?</p>
    <ng-template pTemplate="footer">
        <small>Fernando Ramirez</small>
    </ng-template>

</p-card>